[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/hujianfei0127
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/hujianfei0127
	label-Verified = -1..+1 group user/hujianfei0127
	push = group user/hujianfei0127
	read = group user/hujianfei0127
	rebase = group user/hujianfei0127
	removeReviewer = group user/hujianfei0127
	submit = group user/hujianfei0127
[access "refs/heads/*"]
	create = group user/hujianfei0127
	push = +force group user/hujianfei0127
	pushMerge = group user/hujianfei0127
	read = group user/hujianfei0127
[access "refs/tags/*"]
	push = group user/hujianfei0127
	push = +force group user/hujianfei0127
